ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
* {
  outline: none;
}

body {
  color: rgba(61, 68, 92, 1);
  // background-color: rgba(246, 248, 247, 1);
  font-family: "Work Sans", sans-serif;
}
