$primaryColor: rgba(41, 71, 169, 1);
$secondaryColor: orange;
$thirdColor: rgba(61, 68, 92, 1);
$fourthColor: rgba(224, 227, 235, 1);

$breakpoints: (
  xs: 512px,
  sm: 768px,
  md: 800px,
  lg: 1152px,
  xl: 1280px,
);
